.icon {
  display: inline-block;
}

.icon--moon {
  width: 20px;
  height: 20px;
  fill: var(--theme-icon-fill);
  stroke: var(--theme-icon-stroke);
}

.icon--search {
  width: 18px;
  height: 18px;
  fill: var(--theme-icon-stroke);
  stroke: none;
}

.icon--left-arrow {
  width: 18px;
  height: 18px;
  fill: var(--theme-icon-clr);
  stroke: none;
}
