/*******************************************************************************
 * Typography
 *
 *******************************************************************************/

@use "../abstracts/mixins";
@use "../abstracts/functions";

@mixin font-base {
  font-family: "League Spartan";
  font-weight: 500;
  font-size: 1rem;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
}

.text--center {
  text-align: center;
}

/*----------------------------------------------------------------------------
  Tablet breakpoint
 ----------------------------------------------------------------------------*/
@include mixins.media-breakpoint("tablet") {
}
