$clr-neutral-100: hsl(0, 0%, 100%); // White
$clr-neutral-200: hsl(0, 0%, 98%); // Very Light Gray (Light Mode Background)
$clr-neutral-400: hsl(0, 0%, 52%); // Dark Gray (Light Mode Input)
$clr-neutral-700: hsl(209, 23%, 22%); // Dark Blue (Dark Mode Elements)
$clr-neutral-800: hsl(207, 26%, 17%); // Very Dark Blue (Dark Mode Background)
$clr-neutral-900: hsl(200, 15%, 8%); // Very Dark Blue (Light Mode Text)
